<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Here are all the details of the cocktail</h1>
        <h2><%= @cocktail.name %></h2>
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <% if dose.persisted? %>
              <li>
                <%= dose.description %> <%= dose.ingredient.name %>
                <%= link_to "&times;".html_safe, dose_path(dose), method: :delete %>
              </li>
            <% end %>
          <% end %>
        </ul>
    </div>
  </div>
          <%= render 'doses/form', cocktail: @cocktail, dose: @dose %>
</div>


