<div class="container text-center">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h1>Modify your Cocktail</h1>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.error_notification %>

        <%= f.input :description, label: "your recipe" %>
        <%= f.association :ingredient, label: "choose your ingredient" %>

        <%= f.button :submit, class: 'btn btn-warning' %>
      <% end %>
    </div>
  </div>
    <%= link_to 'Back to list', cocktails_path, class: 'btn btn-info' %>
</div>
